.nav-link{
  position: relative;
  padding-bottom: 5px;
}
.nav-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.nav-link:hover::after{
transform: scaleX(1);
}

.imglogo{
    height:100px ;
    width: 100px;      
}
.img1{
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-left: 0;
 border: 1px solid;transform: scaleX(1);
 border-radius: 15px;
 transition: 1s;
 cursor: pointer;
 box-shadow:0px 0px 20px black ;
}
.img1:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 30px black;
}
.Ownerpic{
 width: 100%;
  max-width: 300px;
  height: 400px;;
  margin-left: 0;
 
border: 1px solid;
border-radius: 15px;
transition: 1s;
cursor: pointer;
object-fit: cover;
box-shadow:0px 0px 20px black ;

}
.Ownerpic:hover{
    transform: scaleX(1.01);
    box-shadow:0px 0px 30px black ;
}
iframe {
  width: 100%;
  height: 300px;
}
.wfi{
    text-align: center;
    padding-top: 80px;
    font-size: 50px;
}
.abticon {
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
.abticon:hover{
    transform: scale(1);
   color: black;
}
.fotter{
    align-content: center;

    color: white;
    text-align: center;
    height: 50px;
}
